*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home-header {
  background-color: #ecebf0;
  font-weight: 800;
  font-size: 1.3em;
  letter-spacing: -1.5px;
  color: black;
  padding: 1em;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.45));
}

body {
  background-color: #F5F5F5;
}

.home-main {
  overflow: hidden;
  position: relative;
}

.home-main .skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #446e9941;
  z-index: -1;
  transform: skewY(-9deg);
  transform-origin: top left;
}

.home-main h1 {
  margin-top: 2.5em;
  margin-left: 2em;
  font-weight: 400;
  font-size: 1.5em;
}

.home-main .home-slider {
  margin-top: 3em;
  margin-left: 2em;
  width: 100%;
  overflow: visible;
}

.home-main .home-slider .slick-prev,
.home-main .home-slider .slick-next {
  position: absolute;
  top: 36%;
  height: 100px;
  width: 40px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  background-color: transparent;
  text-indent: 75px;
  overflow: hidden;
}

.home-main .home-slider .slick-prev:hover,
.home-main .home-slider .slick-next:hover {
  cursor: pointer;
}

.home-main .home-slider .slick-prev {
  background-image: url(../../static/images/left-arrow.svg);
  z-index: 10;
  transition: 0.2s all;
}

.home-main .home-slider .slick-prev:hover {
  scale: 1.2;
}

.home-main .home-slider .slick-next {
  background-image: url(../../static/images/right-arrow.svg);
  right: 75px;
  transition: 0.2s all;
}

.home-main .home-slider .slick-next:hover {
  scale: 1.2;
}

.home-main .home-slider .slick-list {
  height: 440px;
  padding: 20px;
}

.home-main .home-slider .slick-list .slick-track {
  overflow: visible;
}

.home-main .home-slider .slick-list .slick-track .slick-slide {
  margin: 0 2em;
  display: block;
  position: relative;
  height: 380px;
  width: 250px;
  border-bottom: 20px solid #446f99;
  background-color: #e1e1e1;
  transition: 0.2s all;
}

.home-main .home-slider .slick-list .slick-track .slick-slide:hover {
  scale: 1.1;
}

.home-main .home-slider .slick-list .slick-track .slick-slide a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.home-main .home-slider .slick-list .slick-track .slick-slide a p {
  padding: 20% 1em 0 1em;
  width: 250px;
  font-size: 1.2em;
  font-weight: 600;
}

.home-main .home-slider .slick-list .slick-track .slick-slide a .chapter-title {
  position: absolute;
  top: -30px;
}

.home-main .home-slider .slick-list .slick-track .slick-slide a .slide-image {
  width: 250px;
  height: 360px;
  object-fit: none;
  opacity: 0.2;
  filter: grayscale(100%);
}

.difficulty-main h1 {
  margin-top: 3em;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.difficulty-main>div {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.difficulty-main>div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3em;
  color: #fff;
  transition: 0.2s all;
}

.difficulty-main>div a span {
  display: block;
  text-align: center;
  margin-top: 3.5em;
}

.difficulty-main>div a .bean {
  margin-top: 1em;
  position: relative;
  height: 25px;
  width: 25px;
  background-color: #fff;
  transition: 0.2s all;
}

.difficulty-main>div a .bean::before,
.difficulty-main>div a .bean::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #fff;
  transition: 0.2s all;
}

.difficulty-main>div a .bean::before {
  left: -30px;
  border-radius: 50% 0 0 50%;
}

.difficulty-main>div a .bean::after {
  right: -30px;
  border-radius: 0 50% 50% 0;
}

.difficulty-main>div a:hover {
  scale: 1.05;
}

.difficulty-main>div a:nth-child(1) {
  background-color: #1EA185;
}

.difficulty-main>div a:nth-child(1) .bean::before {
  left: -27px;
  background-color: #a0a4b2;
  border: 3px solid #fff;
}

.difficulty-main>div a:nth-child(1) .bean::after {
  right: -27px;
}

.difficulty-main>div a:nth-child(1):hover {
  background-color: #21b192;
}

.difficulty-main>div a:nth-child(1):hover .bean::before {
  background-color: #767983;
}

.difficulty-main>div a:nth-child(2) {
  background-color: #F29B26;
  margin-right: 2em;
  margin-left: 2em;
}

.difficulty-main>div a:nth-child(2) .bean {
  background-color: #a0a4b2;
  border: 3px solid #fff;
}

.difficulty-main>div a:nth-child(2) .bean::before {
  background-color: #a0a4b2;
  border: 3px solid #fff;
  top: -3px;
}

.difficulty-main>div a:nth-child(2) .bean:after {
  top: -3px;
}

.difficulty-main>div a:nth-child(2):hover {
  background-color: #ffab3d;
}

.difficulty-main>div a:nth-child(2):hover .bean {
  background-color: #767983;
}

.difficulty-main>div a:nth-child(2):hover .bean::before {
  background-color: #767983;
}

.difficulty-main>div a:nth-child(3) {
  background-color: #BD392F;
}

.difficulty-main>div a:nth-child(3) .bean {
  background-color: #a0a4b2;
  border: 3px solid #fff;
}

.difficulty-main>div a:nth-child(3) .bean::before,
.difficulty-main>div a:nth-child(3) .bean::after {
  background-color: #a0a4b2;
  border: 3px solid #fff;
  top: -3px;
}

.difficulty-main>div a:nth-child(3):hover {
  background-color: #dc554b;
}

.difficulty-main>div a:nth-child(3):hover .bean {
  background-color: #767983;
}

.difficulty-main>div a:nth-child(3):hover .bean::before,
.difficulty-main>div a:nth-child(3):hover .bean::after {
  background-color: #767983;
}

.explain-main {
  position: relative;
}

.explain-main h2 {
  margin-top: 3em;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

.explain-main ul {
  width: 833px;
  margin: 3em auto 0;
}

.explain-main ul li {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.explain-main ul li img {
  margin: 0 2em 0 1em;
  padding: 1em;
  background-color: #dcdcdc;
  border-radius: 50%;
}

.explain-main a {
  position: fixed;
  bottom: 3%;
  right: 3%;
  padding: 0.5em;
  background-color: #7E7E7E;
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
}

.explain-main a:hover {
  cursor: pointer;
}

.explain-main a:visited {
  color: #fff;
}

.detail-main {
  display: flex;
  flex-direction: row;
  position: relative;
}

.detail-main .sidebar {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 383px;
  height: 100vh;
  background-color: #F5F5F5;
  overflow: hidden;
  transition: 0.2s all;
}

.detail-main .sidebar.grow {
  width: 30%;
}

.detail-main .sidebar .hamburger-open {
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  z-index: 9;
  height: 2em;
  width: 1.6em;
  transition: 0.2s all;
}

.detail-main .sidebar .hamburger-open.slide-out-of-view {
  left: -23px;
}

.detail-main .sidebar .hamburger-open:hover {
  cursor: pointer;
}

.detail-main .sidebar .hamburger-open::before,
.detail-main .sidebar .hamburger-open::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 22px;
  background-color: #7E7E7E;
}

.detail-main .sidebar .hamburger-open::before {
  top: 8px;
}

.detail-main .sidebar .hamburger-open::after {
  bottom: 8px;
}

.detail-main .sidebar .text-wrapper {
  height: calc(100% - 134px);
  overflow-y: scroll;
  padding: 1em 2.5em;
  position: relative;
}

.detail-main .sidebar .text-wrapper::-webkit-scrollbar {
  display: none;
}

.detail-main .sidebar .text-wrapper #sub-container {
  margin-top: 1em;
}

.detail-main .sidebar .text-wrapper #sub-container,
.detail-main .sidebar .text-wrapper #sub-container-two,
.detail-main .sidebar .text-wrapper #sub-container-three {
  font-weight: 500;
  line-height: 1.5em;
}

.detail-main .sidebar .text-wrapper #sub-container .divider,
.detail-main .sidebar .text-wrapper #sub-container-two .divider,
.detail-main .sidebar .text-wrapper #sub-container-three .divider {
  display: block;
  margin: 1em 0;
  width: 100%;
}

.detail-main .sidebar .text-wrapper #sub-container .divider.hidden,
.detail-main .sidebar .text-wrapper #sub-container-two .divider.hidden,
.detail-main .sidebar .text-wrapper #sub-container-three .divider.hidden {
  display: none;
  visibility: hidden;
}

.detail-main .sidebar .text-wrapper #sub-container span[data-begin],
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin],
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin] {
  cursor: pointer;
  padding: 3px 0;
  background-color: rgba(255, 255, 255, 0);
}

.detail-main .sidebar .text-wrapper #sub-container span[data-begin].speaking,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin].speaking,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin].speaking {
  color: #191462;
  background-color: rgba(255, 238, 35, 0.8);
}

.detail-main .sidebar .text-wrapper #sub-container span[data-begin].subs-scene-one,
.detail-main .sidebar .text-wrapper #sub-container span[data-begin].subs-scene-two,
.detail-main .sidebar .text-wrapper #sub-container span[data-begin].subs-scene-three,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin].subs-scene-one,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin].subs-scene-two,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin].subs-scene-three,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin].subs-scene-one,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin].subs-scene-two,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin].subs-scene-three {
  display: inline-block;
}

.detail-main .sidebar .text-wrapper #sub-container span[data-begin].subs-scene-one.hidden,
.detail-main .sidebar .text-wrapper #sub-container span[data-begin].subs-scene-two.hidden,
.detail-main .sidebar .text-wrapper #sub-container span[data-begin].subs-scene-three.hidden,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin].subs-scene-one.hidden,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin].subs-scene-two.hidden,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin].subs-scene-three.hidden,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin].subs-scene-one.hidden,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin].subs-scene-two.hidden,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin].subs-scene-three.hidden {
  display: none;
  visibility: hidden;
}

.detail-main .sidebar .text-wrapper #sub-container span[data-begin]:hover,
.detail-main .sidebar .text-wrapper #sub-container span[data-begin]:focus,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin]:hover,
.detail-main .sidebar .text-wrapper #sub-container-two span[data-begin]:focus,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin]:hover,
.detail-main .sidebar .text-wrapper #sub-container-three span[data-begin]:focus {
  background-color: rgba(255, 238, 35, 0.8);
}

.detail-main .sidebar .text-wrapper #sub-container.visible,
.detail-main .sidebar .text-wrapper #sub-container-two.visible,
.detail-main .sidebar .text-wrapper #sub-container-three.visible {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.detail-main .sidebar .text-wrapper #sub-container.hidden,
.detail-main .sidebar .text-wrapper #sub-container-two.hidden,
.detail-main .sidebar .text-wrapper #sub-container-three.hidden {
  visibility: hidden;
  height: 0;
}

.detail-main .sidebar .text-wrapper #info-container {
  position: relative;
}

.detail-main .sidebar .text-wrapper #info-container .info-top {
  position: absolute;
  top: -38px;
  height: 1px;
  width: 1px;
}

.detail-main .sidebar .text-wrapper #info-container .close-info {
  position: absolute;
  right: -34px;
  top: -33px;
  height: 2em;
  width: 2em;
  background-color: none;
  border-radius: 50%;
  display: none;
}

.detail-main .sidebar .text-wrapper #info-container .close-info::before,
.detail-main .sidebar .text-wrapper #info-container .close-info::after {
  position: absolute;
  content: "";
  height: 2em;
  width: 3px;
  background-color: #7E7E7E;
  right: 15px;
  top: 0px;
}

.detail-main .sidebar .text-wrapper #info-container .close-info::before {
  rotate: 45deg;
}

.detail-main .sidebar .text-wrapper #info-container .close-info::after {
  rotate: -45deg;
}

.detail-main .sidebar .text-wrapper #info-container .close-info.visible {
  display: block;
}

.detail-main .sidebar .text-wrapper #info-container .close-info:hover {
  cursor: pointer;
}

.detail-main .sidebar .text-wrapper #info-container img {
  width: 100%;
}

.detail-main .sidebar .text-wrapper #info-container h1 {
  font-weight: 600;
  font-size: 1.4em;
  margin-top: 1em;
}

.detail-main .sidebar .text-wrapper .info-container p {
  margin: 1em 0;
}

.detail-main .sidebar .text-wrapper p {
  font-weight: 500;
  font-size: 1.3em;
  line-height: 1.4em;
}

.detail-main .sidebar .text-wrapper p:first-child {
  margin: 0 0 1em 0;
}

.detail-main .audio-player {
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 383px;
  height: 100px;
  border-radius: 23px;
  background-color: #F5F5F5;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.25));
}

.detail-main .audio-player .audio-controls {
  margin: 0;
  margin-bottom: 10px;
  width: fit-content;
}

.detail-main .audio-player .audio-controls .icon {
  margin: 0px;
  height: 45px;
  width: 50px;
  background-color: transparent;
  border: none;
  transition: 0.05s ease-in;
}

.detail-main .audio-player .audio-controls .icon svg {
  margin: 0;
  height: 40px;
  width: 40px;
}

.detail-main .audio-player .audio-controls .icon:hover {
  cursor: pointer;
}

.detail-main .audio-player .audio-controls .icon:active {
  transform: scale(0.9);
}

.detail-main .audio-player .audio-controls .go-back-icon,
.detail-main .audio-player .audio-controls .go-forward-icon {
  transition: 0.1s all;
}

.detail-main .audio-player .audio-controls .go-back-icon:hover svg path:nth-child(1),
.detail-main .audio-player .audio-controls .go-forward-icon:hover svg path:nth-child(1) {
  stroke: #626262;
}

.detail-main .audio-player .audio-controls .go-back-icon:hover svg path:nth-child(2),
.detail-main .audio-player .audio-controls .go-forward-icon:hover svg path:nth-child(2) {
  fill: #626262;
}

.detail-main .audio-player .audio-controls .play-icon {
  transition: 0.2s all;
}

.detail-main .audio-player .audio-controls .play-icon.hide {
  display: none;
  visibility: 0;
  opacity: 0;
  fill: none;
}

.detail-main .audio-player .audio-controls .play-icon:hover path {
  fill: #626262;
}

.detail-main .audio-player .audio-controls .pause-icon {
  transition: 0.2s all;
}

.detail-main .audio-player .audio-controls .pause-icon.hide {
  display: none;
  visibility: 0;
  opacity: 0;
}

.detail-main .audio-player .audio-controls .pause-icon:hover rect {
  fill: #626262;
}

.detail-main .audio-player .audio-track-wrapper {
  width: 100%;
  position: relative;
}

.detail-main .audio-player .audio-track-wrapper .audio-track {
  display: flex;
  justify-content: center;
  align-items: center;
  --seek-before-width: 0%;
}

.detail-main .audio-player .audio-track-wrapper .audio-track span {
  font-family: sans-serif;
  font-weight: 500;
  color: #7E7E7E;
  width: fit-content;
}

.detail-main .audio-player .audio-track-wrapper .audio-track span:first-child {
  margin-right: 1em;
}

.detail-main .audio-player .audio-track-wrapper .audio-track span:last-child {
  margin-left: 1em;
}

.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range] {
  -webkit-appearance: none;
  width: 252px;
  position: relative;
}

.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range]:before {
  position: absolute;
  content: "";
  height: 6px;
  background-color: #7E7E7E;
  width: var(--seek-before-width);
}

.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background-color: #D3D3D3;
}

.detail-main .audio-player .audio-track-wrapper .audio-track input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: -5px 0 0 0;
  background-color: #fff;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.detail-main .audio-player .audio-track-wrapper .volume-wrapper {
  position: absolute;
  bottom: 4em;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.detail-main .audio-player .audio-track-wrapper .volume-wrapper input[type=range] {
  width: 100px;
  margin-bottom: 1em;
}

.detail-main #panorama {
  height: calc(100vh - 2em);
  width: calc(100% - 415px);
  position: absolute;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: calc(383px + 1em);
  border-radius: 50px;
}

.detail-main #panorama .scene-counter,
.detail-main #panorama .scene-location {
  position: absolute;
  right: 50%;
  left: 50%;
  translate: -50% -50%;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  font-size: 1em;
  z-index: 10;
}

.detail-main #panorama .scene-counter {
  width: 75px;
  top: 8px;
  padding: 6px 15px;
  border-radius: 0 0 20px 20px;
  background-color: #F5F5F5;
}

.detail-main #panorama .scene-location {
  width: 316px;
  height: 353px;
  bottom: -586px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  padding-bottom: 3em;
  border-radius: 20px 20px 0 0;
  background-color: #F5F5F5;
  overflow: hidden;
  z-index: 10;
  transition: 0.4s cubic-bezier(0.25, 1.7, 0.35, 0.8);
}

.detail-main #panorama .scene-location:hover {
  cursor: pointer;
}

.detail-main #panorama .scene-location.slide-up {
  bottom: -242px;
}

.detail-main #panorama .scene-location .scene-location-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: absolute;
  top: 0;
  background-color: #F5F5F5;
  padding: 0.5em 1.5em;
}

.detail-main #panorama .scene-location .scene-location-title p {
  margin-left: 0.5em;
}

.detail-main #panorama .scene-location .close-location {
  position: absolute;
  right: 9px;
  top: 6px;
  height: 1.5em;
  width: 1.5em;
  background-color: #F5F5F5;
  display: none;
  z-index: 11;
}

.detail-main #panorama .scene-location .close-location::before,
.detail-main #panorama .scene-location .close-location::after {
  position: absolute;
  content: "";
  height: 1em;
  width: 3px;
  background-color: #7E7E7E;
  right: 10px;
  top: 5px;
}

.detail-main #panorama .scene-location .close-location::before {
  rotate: 45deg;
}

.detail-main #panorama .scene-location .close-location::after {
  rotate: -45deg;
}

.detail-main #panorama .scene-location .close-location.visible {
  display: block;
}

.detail-main #panorama .scene-location .scene-location-image {
  margin-top: 1.5em;
  width: 250px;
  height: auto;
  object-fit: cover;
}

.detail-main #panorama #degrees-icon {
  position: absolute;
  bottom: 1em;
  left: 3em;
  height: 25px;
  width: auto;
  z-index: 10;
}

.detail-main #panorama #degrees-icon g path {
  fill: #F5F5F5;
}

.detail-main #panorama>.pnlm-render-container .pnlm-pointer {
  visibility: hidden !important;
}

.detail-main #panorama>.pnlm-render-container .pnlm-pointer.pop {
  visibility: visible !important;
}

.detail-main #panorama .pnlm-hotspot-base:hover {
  cursor: pointer;
}

.detail-main #panorama .info-hotspot {
  height: 75px;
  width: 75px;
  background-image: url(../../static/images/info-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.detail-main #panorama .scene-hotspot {
  height: 75px;
  width: 75px;
  background-image: url(../../static/images/scene-icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.detail-main .hamburger-background {
  display: none;
  position: absolute;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background-color: #484848c2;
  backdrop-filter: blur(3px);
}

.detail-main .hamburger-background.visible {
  display: block;
}

.detail-main .hamburger-menu {
  position: absolute;
  left: -383px;
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  height: 100vh;
  width: 383px;
  z-index: 30;
  transition: 0.3s all;
}

.detail-main .hamburger-menu.open {
  left: 0;
}

.detail-main .hamburger-menu .hamburger-close {
  position: absolute;
  left: 8px;
  top: 8px;
  height: 2em;
  width: 2em;
  background-color: none;
  border-radius: 50%;
}

.detail-main .hamburger-menu .hamburger-close:hover {
  cursor: pointer;
}

.detail-main .hamburger-menu .hamburger-close::before,
.detail-main .hamburger-menu .hamburger-close::after {
  position: absolute;
  content: "";
  height: 2em;
  width: 3px;
  background-color: #7E7E7E;
  right: 15px;
  top: 0px;
}

.detail-main .hamburger-menu .hamburger-close::before {
  rotate: 45deg;
}

.detail-main .hamburger-menu .hamburger-close::after {
  rotate: -45deg;
}

.detail-main .hamburger-menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3em;
  color: #000;
  padding: 1em 2.5em;
}

.detail-main .hamburger-menu a:nth-child(2) {
  margin-top: 4em;
}

.detail-main .question-background {
  display: none;
  position: absolute;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  background-color: #484848c2;
  backdrop-filter: blur(3px);
}

.detail-main .question-background.visible {
  display: block;
}

.detail-main .question-background .question-container-one,
.detail-main .question-background .question-container-two,
.detail-main .question-background .question-container-three,
.detail-main .question-background .question-container-four,
.detail-main .question-background .question-container-five,
.detail-main .question-background .question-container-six,
.detail-main .question-background .question-container-seven,
.detail-main .question-background .question-container-eight,
.detail-main .question-background .question-container-nine {
  background: #fff;
  width: 100vw;
  padding: 3em;
  display: none;
  visibility: hidden;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.detail-main .question-background .question-container-one.visible,
.detail-main .question-background .question-container-two.visible,
.detail-main .question-background .question-container-three.visible,
.detail-main .question-background .question-container-four.visible,
.detail-main .question-background .question-container-five.visible,
.detail-main .question-background .question-container-six.visible,
.detail-main .question-background .question-container-seven.visible,
.detail-main .question-background .question-container-eight.visible,
.detail-main .question-background .question-container-nine.visible {
  display: flex;
  visibility: visible;
}

.detail-main .question-background .question-container-one div,
.detail-main .question-background .question-container-two div,
.detail-main .question-background .question-container-three div,
.detail-main .question-background .question-container-four div,
.detail-main .question-background .question-container-five div,
.detail-main .question-background .question-container-six div,
.detail-main .question-background .question-container-seven div,
.detail-main .question-background .question-container-eight div,
.detail-main .question-background .question-container-nine div {
  min-width: 500px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3em;
}

.detail-main .question-background .question-container-one div>p,
.detail-main .question-background .question-container-two div>p,
.detail-main .question-background .question-container-three div>p,
.detail-main .question-background .question-container-four div>p,
.detail-main .question-background .question-container-five div>p,
.detail-main .question-background .question-container-six div>p,
.detail-main .question-background .question-container-seven div>p,
.detail-main .question-background .question-container-eight div>p,
.detail-main .question-background .question-container-nine div>p {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.detail-main .question-background .question-container-one div>p span,
.detail-main .question-background .question-container-two div>p span,
.detail-main .question-background .question-container-three div>p span,
.detail-main .question-background .question-container-four div>p span,
.detail-main .question-background .question-container-five div>p span,
.detail-main .question-background .question-container-six div>p span,
.detail-main .question-background .question-container-seven div>p span,
.detail-main .question-background .question-container-eight div>p span,
.detail-main .question-background .question-container-nine div>p span {
  margin-left: -21px;
}

.detail-main .question-background .question-container-one div textarea,
.detail-main .question-background .question-container-two div textarea,
.detail-main .question-background .question-container-three div textarea,
.detail-main .question-background .question-container-four div textarea,
.detail-main .question-background .question-container-five div textarea,
.detail-main .question-background .question-container-six div textarea,
.detail-main .question-background .question-container-seven div textarea,
.detail-main .question-background .question-container-eight div textarea,
.detail-main .question-background .question-container-nine div textarea {
  max-width: 900px;
  height: 5em;
  font-size: 1.3em;
  font-family: sans-serif;
  resize: none;
  border: none;
  border-bottom: 3px solid #000;
}

.detail-main .question-background .question-container-one div label,
.detail-main .question-background .question-container-two div label,
.detail-main .question-background .question-container-three div label,
.detail-main .question-background .question-container-four div label,
.detail-main .question-background .question-container-five div label,
.detail-main .question-background .question-container-six div label,
.detail-main .question-background .question-container-seven div label,
.detail-main .question-background .question-container-eight div label,
.detail-main .question-background .question-container-nine div label {
  margin-bottom: 1.5em;
}

.detail-main .question-background .question-container-one div label:hover,
.detail-main .question-background .question-container-two div label:hover,
.detail-main .question-background .question-container-three div label:hover,
.detail-main .question-background .question-container-four div label:hover,
.detail-main .question-background .question-container-five div label:hover,
.detail-main .question-background .question-container-six div label:hover,
.detail-main .question-background .question-container-seven div label:hover,
.detail-main .question-background .question-container-eight div label:hover,
.detail-main .question-background .question-container-nine div label:hover {
  cursor: pointer;
}

.detail-main .question-background .question-container-one div label input,
.detail-main .question-background .question-container-two div label input,
.detail-main .question-background .question-container-three div label input,
.detail-main .question-background .question-container-four div label input,
.detail-main .question-background .question-container-five div label input,
.detail-main .question-background .question-container-six div label input,
.detail-main .question-background .question-container-seven div label input,
.detail-main .question-background .question-container-eight div label input,
.detail-main .question-background .question-container-nine div label input {
  display: none;
}

.detail-main .question-background .question-container-one div label input:checked+p span,
.detail-main .question-background .question-container-two div label input:checked+p span,
.detail-main .question-background .question-container-three div label input:checked+p span,
.detail-main .question-background .question-container-four div label input:checked+p span,
.detail-main .question-background .question-container-five div label input:checked+p span,
.detail-main .question-background .question-container-six div label input:checked+p span,
.detail-main .question-background .question-container-seven div label input:checked+p span,
.detail-main .question-background .question-container-eight div label input:checked+p span,
.detail-main .question-background .question-container-nine div label input:checked+p span {
  background-color: #E2B3B0;
  color: #fff;
}

.detail-main .question-background .question-container-one div label input:checked+p.right span,
.detail-main .question-background .question-container-two div label input:checked+p.right span,
.detail-main .question-background .question-container-three div label input:checked+p.right span,
.detail-main .question-background .question-container-four div label input:checked+p.right span,
.detail-main .question-background .question-container-five div label input:checked+p.right span,
.detail-main .question-background .question-container-six div label input:checked+p.right span,
.detail-main .question-background .question-container-seven div label input:checked+p.right span,
.detail-main .question-background .question-container-eight div label input:checked+p.right span,
.detail-main .question-background .question-container-nine div label input:checked+p.right span {
  background-color: #AAD8CE;
}

.detail-main .question-background .question-container-one div label p,
.detail-main .question-background .question-container-two div label p,
.detail-main .question-background .question-container-three div label p,
.detail-main .question-background .question-container-four div label p,
.detail-main .question-background .question-container-five div label p,
.detail-main .question-background .question-container-six div label p,
.detail-main .question-background .question-container-seven div label p,
.detail-main .question-background .question-container-eight div label p,
.detail-main .question-background .question-container-nine div label p {
  font-size: 1.3em;
  width: 100%;
}

.detail-main .question-background .question-container-one div label p span,
.detail-main .question-background .question-container-two div label p span,
.detail-main .question-background .question-container-three div label p span,
.detail-main .question-background .question-container-four div label p span,
.detail-main .question-background .question-container-five div label p span,
.detail-main .question-background .question-container-six div label p span,
.detail-main .question-background .question-container-seven div label p span,
.detail-main .question-background .question-container-eight div label p span,
.detail-main .question-background .question-container-nine div label p span {
  border-radius: 5px;
  background-color: #D3D3D3;
  margin-right: 0.5em;
  padding: 0.5em;
}

.detail-main .question-background .question-container-one div label p span:nth-child(2),
.detail-main .question-background .question-container-two div label p span:nth-child(2),
.detail-main .question-background .question-container-three div label p span:nth-child(2),
.detail-main .question-background .question-container-four div label p span:nth-child(2),
.detail-main .question-background .question-container-five div label p span:nth-child(2),
.detail-main .question-background .question-container-six div label p span:nth-child(2),
.detail-main .question-background .question-container-seven div label p span:nth-child(2),
.detail-main .question-background .question-container-eight div label p span:nth-child(2),
.detail-main .question-background .question-container-nine div label p span:nth-child(2) {
  display: inline-block;
  width: calc(100% - 63px);
}

.detail-main .question-background .question-container-one figure,
.detail-main .question-background .question-container-two figure,
.detail-main .question-background .question-container-three figure,
.detail-main .question-background .question-container-four figure,
.detail-main .question-background .question-container-five figure,
.detail-main .question-background .question-container-six figure,
.detail-main .question-background .question-container-seven figure,
.detail-main .question-background .question-container-eight figure,
.detail-main .question-background .question-container-nine figure {
  display: flex;
  flex-direction: row;
}

.detail-main .question-background .question-container-one figure img,
.detail-main .question-background .question-container-two figure img,
.detail-main .question-background .question-container-three figure img,
.detail-main .question-background .question-container-four figure img,
.detail-main .question-background .question-container-five figure img,
.detail-main .question-background .question-container-six figure img,
.detail-main .question-background .question-container-seven figure img,
.detail-main .question-background .question-container-eight figure img,
.detail-main .question-background .question-container-nine figure img {
  height: 250px;
  width: auto;
}

.detail-main .question-background .question-container-one figure figcaption,
.detail-main .question-background .question-container-two figure figcaption,
.detail-main .question-background .question-container-three figure figcaption,
.detail-main .question-background .question-container-four figure figcaption,
.detail-main .question-background .question-container-five figure figcaption,
.detail-main .question-background .question-container-six figure figcaption,
.detail-main .question-background .question-container-seven figure figcaption,
.detail-main .question-background .question-container-eight figure figcaption,
.detail-main .question-background .question-container-nine figure figcaption {
  width: 190px;
  margin-left: 1em;
  font-size: 1.1em;
}

.detail-main .question-background .question-container-one button,
.detail-main .question-background .question-container-two button,
.detail-main .question-background .question-container-three button,
.detail-main .question-background .question-container-four button,
.detail-main .question-background .question-container-five button,
.detail-main .question-background .question-container-six button,
.detail-main .question-background .question-container-seven button,
.detail-main .question-background .question-container-eight button,
.detail-main .question-background .question-container-nine button {
  height: fit-content;
  display: inline-block;
  position: relative;
  background-color: #7E7E7E;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.3em;
}

@media (min-width: 1536px) {

  .detail-main .question-background .question-container-one button,
  .detail-main .question-background .question-container-two button,
  .detail-main .question-background .question-container-three button,
  .detail-main .question-background .question-container-four button,
  .detail-main .question-background .question-container-five button,
  .detail-main .question-background .question-container-six button,
  .detail-main .question-background .question-container-seven button,
  .detail-main .question-background .question-container-eight button,
  .detail-main .question-background .question-container-nine button {
    width: 442px;
  }
}

@media (min-width: 1717px) {

  .detail-main .question-background .question-container-one button,
  .detail-main .question-background .question-container-two button,
  .detail-main .question-background .question-container-three button,
  .detail-main .question-background .question-container-four button,
  .detail-main .question-background .question-container-five button,
  .detail-main .question-background .question-container-six button,
  .detail-main .question-background .question-container-seven button,
  .detail-main .question-background .question-container-eight button,
  .detail-main .question-background .question-container-nine button {
    width: 200px;
  }
}

.detail-main .question-background .question-container-one button:hover,
.detail-main .question-background .question-container-two button:hover,
.detail-main .question-background .question-container-three button:hover,
.detail-main .question-background .question-container-four button:hover,
.detail-main .question-background .question-container-five button:hover,
.detail-main .question-background .question-container-six button:hover,
.detail-main .question-background .question-container-seven button:hover,
.detail-main .question-background .question-container-eight button:hover,
.detail-main .question-background .question-container-nine button:hover {
  cursor: pointer;
}

.detail-main .question-background .question-container-one button:hover:active,
.detail-main .question-background .question-container-two button:hover:active,
.detail-main .question-background .question-container-three button:hover:active,
.detail-main .question-background .question-container-four button:hover:active,
.detail-main .question-background .question-container-five button:hover:active,
.detail-main .question-background .question-container-six button:hover:active,
.detail-main .question-background .question-container-seven button:hover:active,
.detail-main .question-background .question-container-eight button:hover:active,
.detail-main .question-background .question-container-nine button:hover:active {
  background-color: #6a6a6a;
}

.detail-main .question-background .question-container-one button:disabled,
.detail-main .question-background .question-container-two button:disabled,
.detail-main .question-background .question-container-three button:disabled,
.detail-main .question-background .question-container-four button:disabled,
.detail-main .question-background .question-container-five button:disabled,
.detail-main .question-background .question-container-six button:disabled,
.detail-main .question-background .question-container-seven button:disabled,
.detail-main .question-background .question-container-eight button:disabled,
.detail-main .question-background .question-container-nine button:disabled {
  background-color: #bbbbbb;
  cursor: default;
}

.detail-main .question-background .question-container-one button:disabled:hover:active,
.detail-main .question-background .question-container-two button:disabled:hover:active,
.detail-main .question-background .question-container-three button:disabled:hover:active,
.detail-main .question-background .question-container-four button:disabled:hover:active,
.detail-main .question-background .question-container-five button:disabled:hover:active,
.detail-main .question-background .question-container-six button:disabled:hover:active,
.detail-main .question-background .question-container-seven button:disabled:hover:active,
.detail-main .question-background .question-container-eight button:disabled:hover:active,
.detail-main .question-background .question-container-nine button:disabled:hover:active {
  background-color: #bbbbbb;
}

.detail-main .question-background .question-container-one button.save-button,
.detail-main .question-background .question-container-two button.save-button,
.detail-main .question-background .question-container-three button.save-button,
.detail-main .question-background .question-container-four button.save-button,
.detail-main .question-background .question-container-five button.save-button,
.detail-main .question-background .question-container-six button.save-button,
.detail-main .question-background .question-container-seven button.save-button,
.detail-main .question-background .question-container-eight button.save-button,
.detail-main .question-background .question-container-nine button.save-button {
  transform: translate(0px, 207px);
}

.detail-main .question-background .question-container-one button.next-button,
.detail-main .question-background .question-container-two button.next-button,
.detail-main .question-background .question-container-three button.next-button,
.detail-main .question-background .question-container-four button.next-button,
.detail-main .question-background .question-container-five button.next-button,
.detail-main .question-background .question-container-six button.next-button,
.detail-main .question-background .question-container-seven button.next-button,
.detail-main .question-background .question-container-eight button.next-button,
.detail-main .question-background .question-container-nine button.next-button {
  width: 200px;
  transform: translate(0px, 283px);
}

.detail-main .question-background .question-container-one form,
.detail-main .question-background .question-container-two form,
.detail-main .question-background .question-container-three form,
.detail-main .question-background .question-container-four form,
.detail-main .question-background .question-container-five form,
.detail-main .question-background .question-container-six form,
.detail-main .question-background .question-container-seven form,
.detail-main .question-background .question-container-eight form,
.detail-main .question-background .question-container-nine form {
  height: fit-content;
  transform: translateY(283px);
}

.detail-main .question-background .question-container-one form input[type=submit],
.detail-main .question-background .question-container-two form input[type=submit],
.detail-main .question-background .question-container-three form input[type=submit],
.detail-main .question-background .question-container-four form input[type=submit],
.detail-main .question-background .question-container-five form input[type=submit],
.detail-main .question-background .question-container-six form input[type=submit],
.detail-main .question-background .question-container-seven form input[type=submit],
.detail-main .question-background .question-container-eight form input[type=submit],
.detail-main .question-background .question-container-nine form input[type=submit] {
  height: fit-content;
  display: inline-block;
  position: relative;
  background-color: #7E7E7E;
  border: none;
  color: #fff;
  padding: 0.5em;
  font-size: 1.3em;
}

.detail-main .question-background .question-container-one form input[type=submit]:disabled,
.detail-main .question-background .question-container-two form input[type=submit]:disabled,
.detail-main .question-background .question-container-three form input[type=submit]:disabled,
.detail-main .question-background .question-container-four form input[type=submit]:disabled,
.detail-main .question-background .question-container-five form input[type=submit]:disabled,
.detail-main .question-background .question-container-six form input[type=submit]:disabled,
.detail-main .question-background .question-container-seven form input[type=submit]:disabled,
.detail-main .question-background .question-container-eight form input[type=submit]:disabled,
.detail-main .question-background .question-container-nine form input[type=submit]:disabled {
  background-color: #bbbbbb;
  cursor: default;
}

.detail-main .question-background .question-container-one form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-two form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-three form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-four form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-five form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-six form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-seven form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-eight form input[type=submit]:disabled:hover:active,
.detail-main .question-background .question-container-nine form input[type=submit]:disabled:hover:active {
  background-color: #bbbbbb;
}

.detail-main .question-background .question-container-one form input[type=submit]:hover,
.detail-main .question-background .question-container-two form input[type=submit]:hover,
.detail-main .question-background .question-container-three form input[type=submit]:hover,
.detail-main .question-background .question-container-four form input[type=submit]:hover,
.detail-main .question-background .question-container-five form input[type=submit]:hover,
.detail-main .question-background .question-container-six form input[type=submit]:hover,
.detail-main .question-background .question-container-seven form input[type=submit]:hover,
.detail-main .question-background .question-container-eight form input[type=submit]:hover,
.detail-main .question-background .question-container-nine form input[type=submit]:hover {
  cursor: pointer;
}

.detail-main .question-background .question-container-one form input[type=submit]:hover:active,
.detail-main .question-background .question-container-two form input[type=submit]:hover:active,
.detail-main .question-background .question-container-three form input[type=submit]:hover:active,
.detail-main .question-background .question-container-four form input[type=submit]:hover:active,
.detail-main .question-background .question-container-five form input[type=submit]:hover:active,
.detail-main .question-background .question-container-six form input[type=submit]:hover:active,
.detail-main .question-background .question-container-seven form input[type=submit]:hover:active,
.detail-main .question-background .question-container-eight form input[type=submit]:hover:active,
.detail-main .question-background .question-container-nine form input[type=submit]:hover:active {
  background-color: #6a6a6a;
}

.end-main {
  position: relative;
  height: 90vh;
}

.end-main h1 {
  font-weight: 400;
  font-size: 1.5em;
  margin: 2em 0;
  text-align: center;
}

.end-main .question-result {
  margin: 0 auto;
  width: 900px;
  padding: 2em 0;
  position: relative;
  font-weight: 500;
  font-size: 1.1em;
}

.end-main .question-result .question-number {
  position: absolute;
  top: 15px;
  left: -20px;
  font-weight: 900;
}

.end-main .question-result .result {
  font-weight: 800;
}

.end-main .question-result::before {
  position: absolute;
  top: 15px;
  content: "";
  width: 100%;
  height: 15px;
  background-color: #D3D3D3;
  border-radius: 10px;
}

.end-main .question-result.waiting::before {
  background-color: #F29B265a;
}

.end-main .question-result.null::before,
.end-main .question-result.wrong::before {
  background-color: #BD392F5a;
}

.end-main .question-result.null .result::before,
.end-main .question-result.wrong .result::before {
  content: "fout";
  font-weight: 800;
}

.end-main .question-result.correct::before {
  background-color: #1ea1855a;
}

.end-main .question-result.correct .result::before {
  content: "goed";
  font-weight: 800;
}

.end-main .question-result.bottom {
  padding-bottom: 7em;
}

.end-main a {
  position: fixed;
  bottom: 3%;
  padding: 0.5em;
  background-color: #7E7E7E;
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
}

.end-main a:hover {
  cursor: pointer;
}

.end-main a:visited {
  color: #fff;
}

.end-main a.replay-chapter {
  left: 2%;
}

.end-main a.end-chapter {
  right: 2%;
}

html {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */